* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', monospace;
  background: white;
  color: black;
  line-height: 1.6;
}

a {
  color: black;
  text-decoration: none;
  border-bottom: 2px solid black;
}

a:hover {
  background: black;
  color: white;
}
