.animated-chain-index {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 0.875rem;
  margin-right: 0.5rem;
  height: 1.2em;
}

.animated-chain-index__digit-wrapper {
  width: 0.6em;
  height: 1.2em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animated-chain-index__digit {
  height: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;  
}

.animated-chain-index__reveal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  animation: reveal 0.2s ease-out forwards;
}

@keyframes reveal {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
